code {
    counter-reset: line;
}

code .line {
    counter-increment: line;
}

code .line::before {
    display:inline-block;
    width:2em;
    border-right: 1px #777 solid;
    content: counter(line);
    color: #777;
}
